<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Page</title>
    <link rel="icon" type="image/png" th:href="@{/resources/images/favicon.png}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css.js"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary" style="margin-top: 20px">
                <div class="panel-heading">
                    <h1 class="panel-title">My Recipes</h1>
                </div>
                <div class="panel-body">
                    <button  class="btn btn-primary" onclick="window.location.href='recipe/new/'" > New Recipe</button>
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.id}"></td>
                                <td th:text="${recipe.description}"></td>
                                <td><a th:href="@{'/recipe/'+${recipe.id}+'/show'}">view</a></td>
                                <td><a th:href="@{'/recipe/'+${recipe.id}+'/update'}">update</a></td>
                                <td><a th:href="@{'/recipe/'+${recipe.id}+'/delete'}"
                                onclick="if (!(confirm('are you sure You want to delete'))) return false;">delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>